/*
responsive.css for product category widget
*/
@media screen and (max-width: 1451px) {
	.product-container .product-cats{
        width: 25%;
    }
    .product-container .product-cats:nth-child(4n+1) {
		clear: both;
	}
	.product-container .product-cats:nth-child(5n+1) {
		clear: none;
	}
}
@media screen and (max-width: 1251px) {
    .product-container .product-cats{
        width: 33.333%;
    }
    .product-container .product-cats:nth-child(3n+1) {
		clear: both;
	}
	.product-container .product-cats:nth-child(4n+1) {
		clear: none;
	}
}
@media screen and (max-width: 768px) {
    .product-container .product-cats{
        width: 50%;
    }
    .product-container .product-cats:nth-child(2n+1) {
		clear: both;
	}
    .product-container .product-cats:nth-child(3n+1) {
		clear: none;
	}
}
@media screen and (max-width: 480px) {
	.product-container {
		text-align: center;
		margin: 0 20px;
	}
    .product-container .product-cats{
        width: auto;
        display: inline-block;
        vertical-align: top;
        float: none;
    }
    .product-container .product-cats:nth-child(1n+1) {
		clear: both;
	}
	.product-container .product-cats:nth-child(2n+1) {
		clear: none;
	}
}